@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

button:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background-color: #6a142d;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #e70a0a;
  border-radius: 8px;
}
